button {
    -webkit-appearance: none;
    padding: 15px 20px;
    background: black;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: block;
    width: 100%;
    transition: .25s;

    &:focus, &:hover {
        background: white;
        color: black;
        cursor: pointer;
    }

    &:focus {
        border: 2px solid black;
    }
}